# ==========================================
# exchange API set (sensitive information)
# ==========================================
BINANCE_API_KEY=your_binance_api_kei
BINANCE_SECRET=your_binance_scret

BINANCE_DEMO_API_KEY=your_binance_demo_api_key
BINANCE_DEMO_SECRET=your_binance_demo_scret

OKX_API_KEY=your_okx_api_key
OKX_SECRET=your_okx_secret
OKX_PASSPHRASE=your_okx_passphrase

# ==========================================
# database account message (sensitive information)
# ==========================================
CLICKHOUSE_HOST=your_database_host
CLICKHOUSE_PORT=your_database_port
CLICKHOUSE_USERNAME=your_database_username
CLICKHOUSE_PASSWORD=your_database_password
CLICKHOUSE_DB=your_data_database_db

REDIS_HOST=redis_host
REDIS_PORT=redis_port
REDIS_PASSWORD=redis_password

# ==========================================
# Storage Path Configuration (Corresponds to the path inside the Docker container.)
# ==========================================
BASE_DATA_PATH=/app/data
BASE_LOG_PATH=/app/logs

#paper or live
EXECUTION_MODE=paper
#1:true 0:false
LIVE_TRADING_ENABLED=0
#1:open 0:close
ORDER_USE_TESTNET=1

